.idea
.DS_Store

/target
**/*.rs.bk
build
tmp*
foldr.json
dev_utils/src/data_models/data-raw
*.txt

tests/coverage-report

*~
*.swp
*.swo


src/compute/cli/node_modules
src/compute/cli/coverage
src/compute/cli/build
src/compute/cli/dist
src/compute/cli/lib

src/compute/client/node_modules
src/compute/client/coverage
src/compute/client/build

src/compute/server/node_modules
src/compute/server/coverage
src/compute/server/build
src/compute/server/dist

src/compute/runtime/node_modules
src/compute/runtime/dist

src/compute/websocket/node_modules
src/compute/websocket/dist


